
<!DOCTYPE html>
<head>
  <title>Lists</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Web Fonts -->
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>

</head>

<body role="document">

<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-text pull-right">
          <% if user_signed_in? %>
          <%= link_to 'New List', new_list_path, { :class => "btn btn-primary"} %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary'  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= render "shared/flash" %>
  <%= yield %>
</div>
<div class="container">
  <footer>
    <p style="font-size: 15px"><strong> Address </strong> <br>
      Lists - All rights reserved </p>
  </footer>
</div> <!-- /container -->
</body>
</html>
